
/* home-section */
/* @media only screen and (min-width:320px) {
    .rows{
        flex-direction: column-reverse;
    }
    .home-div{
        padding: 20px 0px;
    }
    .home-div{
        padding: 20px 0px;
        text-align: center;
    }
} */

@media only screen and (min-width:320px), (min-width:768px) {
    .rows{
        flex-direction: column-reverse;
    }
    .home-div p{
        font-size: 18px;
        line-height: 24px;
    }
    .home-div h1 {
        font-size: 28px;
    }
    .home-div{
        padding: 20px 0px;
        text-align: center;
    }
}

@media only screen and (min-width:1024px) {
    .rows{
        flex-direction: row;
    }
    .home-div p{
        font-size: 21.3px;
    }
    .home-div h1 {
        font-size: 42px;
    }
    .home-div{
        padding: 20px 0px;
        text-align: start;
    }
}

/* about-sec */
@media only screen and (min-width:320px) {
    /* .icon{
        width: 152px;
    } */
    .content{
        padding:15px;
    }
}

@media only screen and (min-width:768px) {
    /* .icon{
        width: 56px;
    } */
    .content{
        padding:25px;
    }
}

@media only screen and (min-width:1024px) {
    /* .icon{
        width: 88px;
    } */
    .content{
        padding:50px;
    }
}

/*  */
@media only screen and (min-width:320px) {

}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1024px) {
    
}